@import url('https://fonts.googleapis.com/css2?family=Poppins:...&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:...&display=swap');
@import "tailwindcss";


@theme {
  --font-Poppins: "Poppins", sans-serif;
  --font-Inter: "Inter", sans-serif;
 --breakpoint-esm: 20rem; 
  }

